<!DOCTYPE html>
<html lang="en">
<head>
  <title> Fitness Wiki</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Lato:,300,400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="../FitnessWiki.css" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="row parallax-header">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="headerText">FITNESS WIKI</h1>
            </div>

        </div>      
</div>

<!-- Container Fluid Begin -->
<div class="container-fluid">
			
        <div class="container">

			<!-- Description -->	
			<div>
                <h2>Welcome to the <b class = "bold">Fitness Wiki</b></h2>
            </div>

			<!-- Please Revise -->
			<div class="row mainRow">
                <p>This is the home of
						suggested fitness routines and workouts that'll help you
						achieve your goals. Use this page as a guide to help you 
						get familiarized with different weight lifting exercizes
						and to help you design your own body part workouts.
					</p>
            </div>
			<!-- Description End -->
        </div>
</div>
<!-- Container Fluid End -->
<!-- Different Goals -->
<div class = "row goalBoxes">
        <div class="col-sm-4 text-center">
            <div class = "row">
                <div class = "col-sm-12 parallax-gain text-center">
						<div class="row">
                            <div class="col-sm-12">
                                <h1 class="headerText2">GAIN MUSCLE</h1>
								<p class = "headerDesc2"> Don't wanna be a weakling? We'll help you 
								build that muscle mass.</p>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class = "row">
                <div class = "col-sm-12 parallax-maintain">
						
                    <div class="row">
                            <div class="col-sm-12">
                                <h1 class="headerText2">MAINTAIN</h1>
                                <p class = "headerDesc2"> For those comfortable where they're out asthetically, we'll help maintain those gains</p>
                            </div>
                        </div>
						
                </div>
            </div>
        </div>
        <div class="col-sm-4 text-center">
            <div class = "row">
                <div class = "col-sm-12 parallax-lose">
						
                    <div class="row">
                            <div class="col-sm-12">
                                <h1 class="headerText2">LOSE WEIGHT</h1>
                                <p class = "headerDesc2"> Trying to lose a couple of pounds? 
								We'll pave the path for your weight loss, all you need to bring is the hard work.</p>
                            </div>
                        </div>
						
                </div>
            </div>
        </div>
        
</div>
<!-- Different Goals End -->





		
<!--<div id="myCarousel" class="carousel slide" data-ride="carousel">
     Wrapper for slides
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="https://i.pinimg.com/originals/95/84/c4/9584c48941987fcb351a1ec9e9535ce6.jpg" alt="Image">
        <div class="carousel-caption">
          <h3>GAIN MUSCLE</h3>
          <p> Don't wanna be a weakling? We'll help you build that muscle mass.</p>
        </div>      
      </div>

      <div class="item">
        <img src="http://www.prodietreviews.com/wp-content/uploads/2017/09/best-cardio-workouts-abs-exercise.jpg" alt="Image">
        <div class="carousel-caption">
          <h3>LOSE WEIGHT</h3>
          <p>Trying to lose a couple of pounds? We'll pave the path for your weight loss, all you need to bring is the hard work.</p>
        </div>      
      </div>

      <div class="item">
        <img src="http://nnimgt-a.akamaihd.net/transform/v1/crop/frm/storypad-D8vFkr4DfTRK2kpdPpAQJC/d9e37210-ef6a-4cbb-9755-c0e52688f18e.jpg/r0_265_5669_3452_w1200_h678_fmax.jpg" alt="Image">
        <div class="carousel-caption">
          <h3>MAINTAIN</h3>
          <p>For those comfortable where they're out astehtically, we'll help maintain those gains'</p>
        </div>      
      </div>
				
    </div>

    Left and right controls
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div> -->
		
<div class="container-fluid">
    <div class = "container">
			<div>
                <h2 class = "bold">Workout Plans</h2>
            </div>
			<div class = "row mainRow">
					<div class="col-sm-4 text-center">
                     <h2>VOLUME</h2>
                      <div class="well">
                       <p class = "wellP">If you're looking to increase the volume of your muscles, you're going to want your muscles to reach a state of 'hypertrophy'. In layman's terms, hypertrophy is an increase in lean muscle mass.. it's about building muscle. To promote hypertrophy, follow a program that requires 8-12 repetitions with 3-5 sets. Rest breaks should be between 1-2 minutes and the weight selected should leave you feeling fatigued at the end of the 12th rep.</p>
                      </div>
                    </div>
					<div class="col-sm-4 text-center"> 
                      <h2>ENDURANCE</h2>
                       <div class="well">
                        <p class = "wellP">This is always the starting point for resistance training; it focusses on the 'lighter weights, more reps' notion. When doing this sort of training, aim to complete >12 repetitions (for most people 12-20 is sufficient), over 3 sets. Rests breaks can be quite short, with 30 to 60 seconds between each set. It's important to keep in mind that even though the weight is 'lighter' (than what we'd use for hypertrophy or strength training) we don't actually want it to be light and easy. You still want to feel fatigued at the end!</p>
                       </div> 
                    </div>
					<div class="col-sm-4 text-center">
                        <h2>DENSITY</h2>
                      <div class="well">
                       <p class = "wellP">Strength training results in just that, an increase in strength. When we're training for strength our goal is to be able to lift a heavy weight for only a few reps (<6). In real life, we might apply this to needing to pick up a heavy box and put it down somewhere else; we need to exert a lot of muscle force but only for one repetition. A typical strength program involves performing 4-6 repetitions, with 3-5 sets. </p>
                      </div>
                    </div>	
			</div> <!-- Main Row End -->
            <div>
                <h2 class = "bold">Summary</h2>
            </div>
				
            <div class = "row mainRow">
					
					<div class="col-sm-4 text-center">
                        <h2>VOLUME</h2>
                      <div class="well">
                       <h3>Reps:  > 12</h3>
                       <h3>Sets:  3</h3>
                       <h3>Rest between sets:  30-60 Seconds</h3>
                      </div>
                    </div>

					<div class="col-sm-4 text-center">
						<h2>ENDURANCE</h2>
                       <div class="well">
                           <h3>Reps:  8-12</h3>
                           <h3>Sets:  3-5</h3>
                           <h3>Rest between sets:  1-2 minutes</h3>       
                       </div> 
                    </div>

					<div class="col-sm-4 text-center">
						<h2>DENSITY</h2>
                      <div class="well">
                       <h3>Reps:  6</h3>
                       <h3>Sets:  3-5</h3>
                       <h3>Rest between sets: 3+ minutes</h3>      
                      </div>
                    </div>
		
			</div> <!-- Summary End-->
            
			<div>
                <h2 class = "bold">Sample Body Part Workouts</h2>
            </div>

			<div>
                <p><b>**</b> Make sure you look up how to do these workouts correctly as
					proper form is key to <span class = "bold">preventing
						injury</span>  and making proper 
					incremental <span class = "bold">progress</span>.</p>
            </div>
			<div class = "row mainRow">
				<div class = "col-md-12 text-center">
						<h1>Chest</h1>
						<div class="well">
							<h3>Barbell/Dumbell Flat Bench Press</h3>
                               <h3>Barbell/Dumbell Incline Press</h3>
                               <h3>Barbell/Dumbell Decline Press</h3>      
                               <h3>Dumble/Cable Fly</h3>
                               <h3>Pushups</h3> 
                        </div>
                </div>

                <div class = "col-md-12 text-center">
                        <h1>Triceps</h1>
                        <div class="well">
                            <h3>EZ Bar Skull Crushers</h3>
                           <h3>Overhead Barbell Tricep Extension </h3>
                           <h3>Cable Pulldowns</h3>      
                           <h3>Close-grip Bench</h3>
                           <h3>Dips</h3> 
                        </div>
                </div>



				<div class = "col-md-12 text-center">
                        <h1>Shoulders</h1>
                        <div class="well">
                            <h3>Upright Cable Row</h3>
                           <h3>Dumbell Shoulder Press</h3>
                           <h3>Cable Rear Delt-Fly</h3>      
                           <h3>Cable Front Raise</h3>
                           <h3>Shrugs</h3>
                        </div>
                </div>

                <div class = "col-md-12 text-center">
                         <h1>Biceps</h1>
                        <div class="well">
                            <h3>Cable Hammer Curls</h3>
                           <h3>EZ Bar Curls</h3>
                           <h3>Dumbell Curls</h3>      
                           <h3>Preacher Dumbell Curls</h3>
                           <h3>Cable Concentration Curl</h3>
                        </div>
                </div>


				
                <div class = "col-md-12 text-center">
                         <h1>Back</h1>
                        <div class="well">
                           <h3>Deadlift</h3>
                           <h3>Single-Arm Dumbell Rows</h3>
                           <h3>Widegrip pull-up</h3>      
                           <h3>Standing T-Bar Row</h3>
                           <h3>Lat Pull-Downs</h3>
                        </div>
                </div>


                <div class = "col-md-12 text-center">
                         <h1>Legs</h1>
                        <div class="well">
                           <h3>Barbell Squat</h3>
                           <h3>Dumbell Lunges</h3>
                           <h3>Leg Press</h3>      
                           <h3>Lying Leg Curls</h3>
                           <h3>Leg Extensions</h3> 
                        </div>
                </div>

			</div>	
			<!-- Sample Body Part Workouts End -->

	</div> <!-- Container End -->
</div> <!-- Container-fluid -->
		
  
</body>
</html>
