
<html>
<head>
    <link rel="stylesheet" href="../Index.css" type="text/css" media="screen" runat="server" />
</head>
<body>
    <!-- Page content -->
    <div class="parallax row">
            <h1>SWOLE GOAL</h1>
            <h2>Your leader in personalized health</h2>
    </div>
    <div class="col-sm-10 col-sm-offset-1 text-center" id="about">
        <h1>ABOUT</h1>
        <p>
            Welcome to <span class="green-text">Swole Goal</span>. A powerful tool to help you achieve all of your health and fitness goals. Fill out every field to recieve a customly tailored workout plan, as well as a personalized diet outline full of healthy food that maintains great taste.
        </p>
        <br />
        <a href="~/Home/Submission" class="btn btn-lg">Get Started</a>
    </div>

    <div class="row">
        <img class="col-sm-6 img-responsive no-padding" src="../fitness.jpg">
        <!--Image from http://cdn-maf2.heartyhosting.com/sites/muscleandfitness.com/files/media/campus-muscle-trainint-partner-4.jpg-->
        <img class="col-sm-6 img-responsive no-padding" src="../nutrition.jpg">
        <!--Image from https://www.theseasonedmom.com/wp-content/uploads/2017/04/Garlic-and-Herb-Salmon-Marinade-7.jpg-->
    </div>

    <div id="contact" class="text-center" style="padding-top:30px">
        <h1>CONTACT</h1>
        <h2>Have a suggestion? Let us know!</h2>
        <hr style="width:50%; padding-bottom:15px"/>
        <div class="row">
            <div class="col-sm-6" style="padding-left:25%">
                <i class="glyphicon glyphicon-map-marker" style="width:30px"></i> Buffalo, NY<br>
                <i class="glyphicon glyphicon-envelope" style="width:30px"> </i> Email: swolegoal.fit@gmail.com<br>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4" style="padding-left: 0; padding-right: 0;">
                        <input type="text" class="form-control" placeholder="Name" id="usr">
                    </div>  
                    <div class="col-sm-4" style="padding-left: 1px; padding-right: 0;">
                        <input type="text" class="form-control" placeholder="Email" id="email">
                    </div>
                    <div class="col-sm-8" style="padding-top:5px; padding-left: 0px; padding-right: 0;">
                        <textarea class="form-control" placeholder="Message" id="msg"></textarea>
                    </div>
                    <div class="col-sm-8" style="padding-right:0; padding-top:5px">
                        <a href="../Views/Home/ContactForm.html" class="btn" style="float:right">Send</a>
                    </div>
                </div>
            </div>
        </div>
        <hr style="width:50%" />
    </div>

</body>
</html>
