<head>
    <link rel="stylesheet" href="../NutritionWiki.css" type="text/css" media="screen" runat="server" />
</head>

<body>
    <div class="container">

        <br /><br /><br /><br />
        <div class="panel">
            <div><h2>Macro Suggestions</h2></div><br />
            <div class="thumbnail">
                <h4>Protein</h4>
                Meats, fish, nuts, legumes, greek yogurts, eggs, tofu, quinoa, seeds.
            </div>
            <div class="thumbnail">
                <h4>Complex Carbohydrates</h4>
                Pastas, breads, grains, potatoes, yams, beans, peas, green vegetables.
            </div>
            <div class="thumbnail">
                <h4>Simple Carbohydrates</h4>
                Only sugars; though that doesn't mean we can't still be health conscious when getting the simple carbs we want before a workout; most single servings of fruits will do the trick.
            </div>
        </div>
        <div class="panel">
            <div><h2>What to be weary of...</h2></div>


            <div class="thumbnail">
                <h3>Mercury </h3>
                Be weary of consuming fish that are high in Mercury; people often hear about the endless benefits of fish
                but like most things in life, moderation is key. Mackerel, Marlin, Orange Roughy, Shark, Swordfish, Grouper, Sea Bass, and
                various Tunas are all typically high in Mercury. Do note that this list varies slightly depending on where the fish was caught.<br />
            </div>
            <div class="thumbnail">
                <h3>Artificial Sweeteners </h3>
                Artificial sweeteners such as sucralose and aspartame will NOT help you lose weight.
                Countless studies have proven that such sugar substitutes hinder your body's ability to compute it's caloric intake.
                It essentially looses track very often, which often leads to weight gain. These drugs show very strong correlations with a slew
                of cancers. Stevia Leaf Extract likely follows suit, but the substance is still very new and therefore not as well tested.<br />
            </div>
            <div class="thumbnail">
                <h3>Fiber</h3>
                Fiber is obviously a necessary nutrient for our bodies and is in plenty of our superfoods. With that being said, getting the proper amount of fiber in our diets is done by few and far between.
                Women are generally reccomended to ingest ~20 grams per day, while men need ~30 grams. People tend to never be hitting these numbers consistently, by either getting virtually no fiber or by taking in upwards of 100 grams.
                To give you some perspective on how tricky this number is, two burritos from chipotle with their standard serving of black beans would surpass the reccomended daily intake for men.<br />
            </div>
            <div class="thumbnail">
                <h3>Sleep deprevation</h3>
                Our (often necessary) exposure to florecents, laptops, and cellphones destabilizes our internal clocks.
                So no, it isn't entirely our faults that sleep deprevation is such a relevant issue nowadays. With that being said you can certainly
                take some preventative measures to minimize your time tossing and turning in bed. Avoiding screens and florecent lights in the few hours
                prior to your slumber is a great start. Sleeping masks can often do wonders for people as well.<br />
            </div>
        </div>
        <br /><br /><br />
        <div class="panel">
            <h2>Terminology</h2>

            <div class="thumbnail">
                <b>Ectomorph</b> - Ectomorphs have a naturally thin build to them. They have a high tollerance for carbs and a low tollerance for fat, therefore they tend to have a hard time gaining weight. <br /><br />
                <b>Mesomorph</b> - Mesomorphs have a naturally medium build to them. They have a moderate tollerance for carbs and fat. <br /><br />
                <b>Endomorph</b> - Endomorphs have a naturally heavyset build to them. They have a low tollerance for carbs and a high tollerance for fat, hence they tend to put on weight easily.<br /><br />
                <b>BMR</b> - Your Basal Metabolic Rate (Abbreviated as BMR) is a rough estimate of how many calories you'd burn if you were stationary 24 hours.<br /><br />
                <b>TDEE</b> - Total Daily Energy Expenditure is the amount of energy in calories you burn per day, taking into consideration the physical activity you subject your body to on a daily basis.<br /><br />
                <b>Metabolism</b> - Metabolism by definition is a rather general statement; referring to the chemical processes that are performed by our bodies to maintain life.<br /><br />
            </div>
        </div>
    </div>
</body>
