@model SwoleGoal.Models.ResultOutputs

<html>
<body>
    <div>
        <br /><br /><br /><br />
        test
        @Model.Tdee
        @Model.Bmr
        @Model.TotalActivity
    @Model.Paragraph
    </div>
</body>
</html>
