body {
}

.parallax {
    /* The image used */
    background-image: url("https://wallpaperscraft.com/image/dumbbells_fitness_gym_113149_1920x1080.jpg");
    /* Set a specific height */
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    !important;
}

.headerText {
    color: white;!important
    margin:auto;
    line-height: 500px;
    vertical-align: middle;
    font-family:"Lato",sans-serif;
}


.mainRow{
    padding:50px
}


// divides grid by 5 
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}



.btn-outline-primary {
    color: #1e4805;
    border-color: rgb(12, 183, 55);
}

.btn-primary {
    background-color: #2dc711;
    border-color: #2fd00e;
}
