<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="../_Layout.css" type="text/css" media="screen" runat="server" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="~/_Layout.js"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navb">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </button>
                <span>
                    <a class="navbar-brand toplogo" href="~/Home/Index#top">
                        <img src="../logo.png">
                    </a>
                </span>
            </div>
            <div class="collapse navbar-collapse" id="navb">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="~/Home/Index#about">ABOUT</a></li>
                    <li><a href="~/Home/Index#fitness">FITNESS</a></li>
                    <li><a href="~/Home/Index#nutrition">NUTRITION</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">WIKIS<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="~/Home/FitnessWiki">FITNESS</a></li>
                            <li><a href="~/Home/NutritionWiki">NUTRITION</a></li>
                        </ul>
                    </li>
                    <li><a href="~/Home/Index#about">CONTACT</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">FEEDBACK<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://goo.gl/forms/KqQHOC3xx2tfG5RB2">General Feedback</a></li>
                            <li><a href="https://github.com/BrianFrancisDG/Swole-Goal/issues/new">Report a Bug</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    @RenderBody()

</body>
</html>
